In [1]:
import pandas as pd
import os
import cv2
import tqdm

In [5]:
direc="C:\\Users\\user\\Downloads\\45_45\\45\\"
num1=os.listdir(direc)
video_list = [file for file in num1 if file.endswith(".jpg")]
len(video_list)

405660

In [6]:
df = pd.DataFrame(index=range(0,1),columns=['s','v'])
df

     s    v
0  NaN  NaN

In [7]:
for k in range(0,len(video_list)):
    file_name=video_list[k]
    img = cv2.imread(direc+"\\"+file_name, cv2.IMREAD_COLOR)
    HSV=cv2.cvtColor(img,cv2.COLOR_BGR2HSV)
    h,s,v = cv2.split(HSV) 
   
    v_value_count=v.mean()  
    s_value_count=s.mean()   
    
    df.loc[str(file_name)]=[s_value_count,v_value_count]

In [8]:
df

                               s           v
0                            NaN         NaN
0_100_frame_9000.jpg   45.288602  176.809492
0_101_frame_9090.jpg   58.181901   183.34796
0_102_frame_9180.jpg   44.967283  177.206797
0_103_frame_9270.jpg   45.699136  195.312452
...                          ...         ...
9_93_frame_8370.jpg    58.579223  125.238542
9_94_frame_8460.jpg   125.688116  237.760981
9_95_frame_8550.jpg   125.528468  237.561858
9_96_frame_8640.jpg   125.528468  237.561858
9_9_frame_810.jpg      99.789071  163.634609

[405661 rows x 2 columns]

In [9]:
df.to_csv('45_hsv.csv',encoding='utf-8')